.env

gateway/.env
authService/.env
fileService/.env
frontend/.env

gateway/env/
authService/env/
fileService/env/

fileService/MYCLOUDY_VAULT/
fileService/MYCLOUDY_VAULT/*
fileService/MYCLOUDY_VAULT/*.mp4
frontend/node_modules

fileService/storage/
authService/storage/
# Ignore video files
*.mp4
*.avi
*.mkv
*.mov
*.flv

# Ignore image files
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.svg

# Ignore other common media formats
*.mp3
*.wav
*.ogg
*.flac

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*


frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
